<script src="efectos/scrolling/skrollr.js"></script>

  <script>

    $(document).ready(function () {
    var s = skrollr.init();
    wow = new WOW(
      {
      animateClass: 'animated',
        offset: 100,
        callback: function (box) {
    }
    }
    );
    wow.init();

  });
</script>

<div style="width:100%; height:70px"></div>
<div class="col-xs-12" style="padding:0; width:100%; ">
  <video class="img-responsive" style="padding:0;" autoplay loop muted>
    <source type="video/webm" ng-src="{{API_PATH_MEDIA}}video/spraytec-video2.webm">
    <source type="video/mp4" ng-src="{{API_PATH_MEDIA}}video/spraytec-video1.mp4">
  </video>
  <div data-parallax='{"y": -80, "duration": 300}' class="col-xs-12 text-center" style="position: absolute; bottom: 50%">
    <p style="color:#fff; font-size:35px; font-weight:bold; text-shadow:3px 2px 2px #333">
      <span ng-if="idiomaLocal =='en_US'">{{sliderTexto[0].textomensaje_us}}</span>
      <span ng-if="idiomaLocal =='es_AR'">{{sliderTexto[0].textomensaje_ar}}</span>
      <span ng-if="idiomaLocal =='es_BR'">{{sliderTexto[0].textomensaje_br}}</span>
    </p>
  </div>
  <div data-parallax='{"y": -80, "duration": 300}' class="col-xs-12 text-center" style="position: absolute; bottom: 30%;">
    <a ui-sref="about" class="btn btn-lg btn-primary btn-banner" style="padding: 5px 70px 5px 70px; cursor:pointer;">
      <span style="font-size:large; font-weight:bold;">
        <span ng-if="idiomaLocal =='en_US'">{{sliderTexto[0].mensaje_boton_us}}</span>
        <span ng-if="idiomaLocal =='es_AR'">{{sliderTexto[0].mensaje_boton_ar}}</span>
        <span ng-if="idiomaLocal =='es_BR'">{{sliderTexto[0].mensaje_boton_br}}</span>
      </span>
    </a>
  </div>
</div>
<div class="row-verde col-xs-12">
  <div class="container text-center">
    <br />
    <br />
    <h1 data-parallax='{"y": -80, "duration": 200}'>
      <span ng-if="idiomaLocal =='en_US'">{{empresa[0].textomensaje_us}}</span>
      <span ng-if="idiomaLocal =='es_AR'">{{empresa[0].textomensaje_ar}}</span>
      <span ng-if="idiomaLocal =='es_BR'">{{empresa[0].textomensaje_br}}</span>
    </h1>
    <br />
    <a ui-sref="about" data-parallax='{"y": -80, "duration": 100}' class="btn btn-lg btn-primary btn-banner" style="font-weight:bold; padding: 5px 70px 5px 70px; font-size:large;">
      <span ng-if="idiomaLocal =='en_US'">{{empresa[0].mensaje_boton_us}}</span>
      <span ng-if="idiomaLocal =='es_AR'">{{empresa[0].mensaje_boton_ar}}</span>
      <span ng-if="idiomaLocal =='es_BR'">{{empresa[0].mensaje_boton_br}}</span>
    </a>
    <br />
    <br />
    <br />
  </div>
</div>

<div class="col-xs-12 text-center row-verde-oscuro" style="padding:0;">
  <div>
    <div class="col-xs-12 col-lg-6 row-verde-oscuro wow fadeInDown" style="padding:0;">
      <div class="row">
        <div class="col-xs-12 container">
          <div style="padding: 0 50px 0px 50px">
            <ui-carousel slides="fulltec">
              <carousel-item>
                <a href="#"><img class="img-responsive" width="400" height="400" ng-src="{{item.image}}"></a>
              </carousel-item>
              <carousel-prev>

                <!-- placed your previous button here -->
                <i class="fa fa-angle-left" aria-hidden="true" id="btn_enterior" style="font-size:70px; top:30%; left:0; position:absolute"></i>

                <!-- end -->
              </carousel-prev>

              <carousel-next>
                <!-- placed your next button here -->
                <i class="fa fa-angle-right" aria-hidden="true" id="btn_siguiente" style="font-size:70px; top:30%; right:0; position:absolute" "></i>
                <!-- end -->
              </carousel-next>
            </ui-carousel>

          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-xs-12 col-lg-6 row-blanco wow slideInRight">
      <div class="row">
        <div class="col-xs-12 container">
          <h2 class="texto-verde" id="h4_titulo"></h2>
          <br />
          <h5 id="p_textomensaje_us" ng-if="idiomaLocal =='en_US'" class="text-left" style="font-weight:normal"></h5>
          <h5 id="p_textomensaje_ar" ng-if="idiomaLocal =='es_AR'" class="text-left" style="font-weight:normal;"></h5>
          <h5 id="p_textomensaje_br" ng-if="idiomaLocal =='es_BR'" class="text-left" style="font-weight:normal"></h5>
          <br />
          <br />
          <a ui-sref="producto" class="btn btn-lg btn-primary btn-banner" style="font-weight:bold; padding: 5px 60px 5px 60px; font-size:large;">
            <span id="span_mensaje_boton_us" ng-if="idiomaLocal =='en_US'"></span>
            <span id="span_mensaje_boton_ar" ng-if="idiomaLocal =='es_AR'"></span>
            <span id="span_mensaje_boton_br" ng-if="idiomaLocal =='es_BR'"></span>
          </a>
        </div>        
      </div>
    </div>
  </div>
  
</div>
<div class="text-center col-xs-12 row-gris">
  <div class="container">
    <div class="col-xs-12 col-lg-7">
      <div class="text-left">
        <h2 data-parallax='{"y": -100, "duration": 200}' style="text-align:justify">
          <br />
          <span ng-if="idiomaLocal =='en_US'">{{Empresa_no[0].textomensaje_us}}</span>
          <span ng-if="idiomaLocal =='es_AR'">{{Empresa_no[0].textomensaje_ar}}</span>
          <span ng-if="idiomaLocal =='es_BR'">{{Empresa_no[0].textomensaje_br}}</span>
        </h2>
      </div>

    </div>
    <div class="col-xs-12 col-lg-5">
      <div class="col-xs-12">
        <img class="img-responsive wow slideInRight" width="350" height="250" src="{{API_PATH_MEDIA}}{{Empresa_no[0].image}}" />
      </div>
    </div>
  </div>
  
</div>
<div class="row-verde"><small style="color:#3FC380">.</small></div>
<div class="col-xs-12 row-verde" style="padding-bottom:70px;">
  <form name="projectForm">
    <div class="container text-center">
      <h4 ng-if="idiomaLocal =='en_US'">{{contacto[0].textomensaje_us}}</h4>
      <h4 ng-if="idiomaLocal =='es_AR'">{{contacto[0].textomensaje_ar}}</h4>
      <h4 ng-if="idiomaLocal =='es_BR'">{{contacto[0].textomensaje_br}}</h4>
      <br />
      <div class="col-xs-12">

        <div class="col-xs-12 col-lg-4">
          <input ng-model="contacto.mail" ng-if="idiomaLocal =='en_US'" type="text" class="form-control" placeholder="{{contacto[0].placeholder_correo_us}}" required>
          <input ng-model="contacto.mail" ng-if="idiomaLocal =='es_AR'" type="text" class="form-control" placeholder="{{contacto[0].placeholder_correo_ar}}" required>
          <input ng-model="contacto.mail" ng-if="idiomaLocal =='es_BR'" type="text" class="form-control" placeholder="{{contacto[0].placeholder_correo_br}}" required>
        </div>
        <div class="col-xs-12 col-lg-4">
          <input ng-model="contacto.nombre" ng-if="idiomaLocal =='en_US'" type="text" class="form-control" placeholder="{{contacto[0].placeholder_nombre_us}}" required>
          <input ng-model="contacto.nombre" ng-if="idiomaLocal =='es_AR'" type="text" class="form-control" placeholder="{{contacto[0].placeholder_nombre_ar}}" required>
          <input ng-model="contacto.nombre" ng-if="idiomaLocal =='es_BR'" type="text" class="form-control" placeholder="{{contacto[0].placeholder_nombre_br}}" required>
        </div>
        <div class="col-xs-12 col-lg-4">
          <button class="btn btn-lg btn-primary btn-banner col-xs-12" ng-click='projectForm.$valid ? gracias() : ""' style="font-weight:bold; padding: 5px 60px 5px 60px; font-size:large;">
            <span ng-if="idiomaLocal =='en_US'">{{contacto[0].mensaje_boton_us}}</span>
            <span ng-if="idiomaLocal =='es_AR'">{{contacto[0].mensaje_boton_ar}}</span>
            <span ng-if="idiomaLocal =='es_BR'">{{contacto[0].mensaje_boton_br}}</span>
          </button>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="container text-center">
  <div class="margin-bottom"></div>
  <div class="col-xs-12 col-lg-6">
    <div id="fb-root"></div>
    <script>
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=506483519418846";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776" data-tweet-limit="1" data-width="300" data-height="300" data-chrome="nofooter noborders">National Park Tweets - Curated tweets by TwitterDev</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

